[default]
GRAFANA_AUTH_USER=admin
GRAFANA_AUTH_PASS=admin
GRAFANA_HOST=172.23.197.74

DATE_FORMAT="%d/%m/%Y %H:%M:%S"

INFLUX_HOST=172.23.120.211
INFLUX_PORT=8086
INFLUX_USER=influxdb
INFLUX_PASSWORD=somepassword
INFLUX_DBNAME=logger

# seconds to wait till influx is up and running (seconds)
WAIT_FOR_INFLUX_TIMEOUT = 600
# number of seconds to sleep till next attempt
WAIT_FOR_INFLUX_STEP = 10

[telegram]
BOT_TOKEN=some_bot_token_here
BOT_FILE=telegram.users
BOT_PORT=9999

[dht]
# 11 for dht11 or 22 for dht22
DHT_TYPE=11
PIN=4

[display]
CLK=23
DIO=24
DIGITS=4

[soil]
# will be turned on only to read data, prolonging sensor life
VCC=17
DIO=27

[ledring]
# pwm pin used for digital input
DIN = 18
# number of leds in your ring
LEDS = 12
# led signal frequency in Hz
FREQ = 800000
# brightness is in (0, 255)
BRIGHTNESS = 255
# DMA channel to use for generating signal (try 5)
DMA = 5
# 1 to invert the signal (when using NPN transistor level shift)
INVERT = 0

[button]
DIO=26
