[telegram]
BOT_TOKEN=some_bot_token_here
BOT_FILE=telegram.users
PORT=9999

[default]
# 11 for dht11 or 22 for dht22
SENSOR=11
PIN=4
DATE_FORMAT="%d/%m/%Y %H:%M:%S"
INFLUX_HOST=localhost
INFLUX_PORT=8086
INFLUX_USER=influxdb
INFLUX_PASSWORD=somepassword
INFLUX_DBNAME=logger

[display]
CLK=23
DIO=24
DIGITS=4

[moisture]
# will be turned on only to read data, prolonging sensor life
VCC=17
DIO=27
