[Unit]
Description=Orchids climate control
After=docker.service

[Service]
Type=simple
WorkingDirectory=/root/savemyorchids
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --privileged --name %n savemyorchids
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
